In [1]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/20 04:06:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
df = spark.read.csv('data/transformed.csv',inferSchema=True)

In [12]:
df.show()

+---------+----------+----------+---+-----+---------------+----------+------------+----+----+
|      _c0|       _c1|       _c2|_c3|  _c4|            _c5|       _c6|         _c7| _c8| _c9|
+---------+----------+----------+---+-----+---------------+----------+------------+----+----+
|300000000|139.082615| 961000000|169| 4500|         Action|2007-05-19|united_state|high| low|
|245000000|107.376788| 880674609|148| 4466|         Action|2015-10-26|      others|high| low|
|250000000| 112.31295|1084939099|165| 9106|         Action|2012-07-16|united_state|high| low|
|260000000| 43.926995| 284139100|132| 2124|         Action|2012-03-07|united_state|high| low|
|260000000| 48.681969| 591794936|100| 3330|      Animation|2010-11-24|united_state|high| low|
|280000000|134.279229|1405403694|141| 6767|         Action|2015-04-22|united_state|high| low|
|250000000| 98.885637| 933959197|153| 5293|      Advanture|2009-07-07|      others|high| low|
|250000000|155.790452| 873260194|151| 7004|         Action|2016-03-23|united_state|high| low|
|270000000| 57.925623| 391081192|154| 1400|         Action|2006-06-28|united_state|high| low|
|200000000|107.928811| 586090727|106| 2965|      Advanture|2008-10-30|      others|high| low|
|200000000|145.847379|1065659812|151| 5246|      Advanture|2006-06-20|      others|high| low|
|255000000| 49.046956|  89289910|149| 2311|         Action|2013-07-03|united_state|high|high|
|225000000| 99.398009| 662845518|143| 6359|         Action|2013-06-12|      others|high| low|
|225000000| 53.978602| 419651413|150| 1630|      Advanture|2008-05-15|      others|high| low|
|220000000|144.448633|1519557910|143|11776|Science fiction|2012-04-25|united_state|high| low|
|380000000|135.413856|1045713802|136| 4948|      Advanture|2011-05-14|united_state|high| low|
|225000000| 52.035179| 624026776|106| 4160|         Action|2012-05-23|united_state|high| low|
|250000000|120.965743| 956019788|144| 4760|         Action|2014-12-10|      others|high| low|
|215000000| 89.866276| 752215857|136| 6586|         Action|2012-06-27|united_state|high| low|
|200000000| 37.668301| 310669540|140| 1398|         Action|2010-05-12|      others|high| low|
+---------+----------+----------+---+-----+---------------+----------+------------+----+----+
only showing top 20 rows

In [14]:
# Optionally, rename columns for better clarity
df = df.withColumnRenamed("_c0", "budget") \
       .withColumnRenamed("_c1", "popularity") \
       .withColumnRenamed("_c2", "revenue") \
       .withColumnRenamed("_c3", "runtime") \
       .withColumnRenamed("_c4", "vote_count") \
       .withColumnRenamed("_c5", "genre") \
       .withColumnRenamed("_c6", "release_date") \
       .withColumnRenamed("_c7", "production_country")\
       .withColumnRenamed("_c8", "popularity_rank")\
       .withColumnRenamed("_c9", "risk")
# Let's get an idea of what the data looks like. 
df.printSchema()
df.show()

root
 |-- budget: integer (nullable = true)
 |-- popularity: double (nullable = true)
 |-- revenue: integer (nullable = true)
 |-- runtime: integer (nullable = true)
 |-- vote_count: integer (nullable = true)
 |-- genre: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- production_country: string (nullable = true)
 |-- popularity_rank: string (nullable = true)
 |-- risk: string (nullable = true)

+---------+----------+----------+-------+----------+---------------+------------+------------------+---------------+----+
|   budget|popularity|   revenue|runtime|vote_count|          genre|release_date|production_country|popularity_rank|risk|
+---------+----------+----------+-------+----------+---------------+------------+------------------+---------------+----+
|300000000|139.082615| 961000000|    169|      4500|         Action|  2007-05-19|      united_state|           high| low|
|245000000|107.376788| 880674609|    148|      4466|         Action|  2015-10-26|            others|           high| low|
|250000000| 112.31295|1084939099|    165|      9106|         Action|  2012-07-16|      united_state|           high| low|
|260000000| 43.926995| 284139100|    132|      2124|         Action|  2012-03-07|      united_state|           high| low|
|260000000| 48.681969| 591794936|    100|      3330|      Animation|  2010-11-24|      united_state|           high| low|
|280000000|134.279229|1405403694|    141|      6767|         Action|  2015-04-22|      united_state|           high| low|
|250000000| 98.885637| 933959197|    153|      5293|      Advanture|  2009-07-07|            others|           high| low|
|250000000|155.790452| 873260194|    151|      7004|         Action|  2016-03-23|      united_state|           high| low|
|270000000| 57.925623| 391081192|    154|      1400|         Action|  2006-06-28|      united_state|           high| low|
|200000000|107.928811| 586090727|    106|      2965|      Advanture|  2008-10-30|            others|           high| low|
|200000000|145.847379|1065659812|    151|      5246|      Advanture|  2006-06-20|            others|           high| low|
|255000000| 49.046956|  89289910|    149|      2311|         Action|  2013-07-03|      united_state|           high|high|
|225000000| 99.398009| 662845518|    143|      6359|         Action|  2013-06-12|            others|           high| low|
|225000000| 53.978602| 419651413|    150|      1630|      Advanture|  2008-05-15|            others|           high| low|
|220000000|144.448633|1519557910|    143|     11776|Science fiction|  2012-04-25|      united_state|           high| low|
|380000000|135.413856|1045713802|    136|      4948|      Advanture|  2011-05-14|      united_state|           high| low|
|225000000| 52.035179| 624026776|    106|      4160|         Action|  2012-05-23|      united_state|           high| low|
|250000000|120.965743| 956019788|    144|      4760|         Action|  2014-12-10|            others|           high| low|
|215000000| 89.866276| 752215857|    136|      6586|         Action|  2012-06-27|      united_state|           high| low|
|200000000| 37.668301| 310669540|    140|      1398|         Action|  2010-05-12|            others|           high| low|
+---------+----------+----------+-------+----------+---------------+------------+------------------+---------------+----+
only showing top 20 rows